#task-list {
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease-in-out;
}

.task-item {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-self: start;
  transition: background-color 0.5s ease-in-out;
}

.task-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #d1d1d1;
}

.task-item:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.task-item:hover {
  background-color: rgba(0,0,0,0.05);
}

.task-item .check, 
.task-item .content, 
.task-item .actions {
  padding: 10px;
  align-items: flex-start;
}

.task-item .check,
.task-item .actions {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.task-item .actions {
  align-items: center;
  opacity: 0;
}

.task-item:hover .actions {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.task-item .content {
  width: 100%;
}

.task-item .title {
  font-size: 16px;
  font-weight: 600;
  transition: opacity 0.5s ease-in-out;
}

.task-item .description {
  font-weight: 400;
  transition: opacity 0.5s ease-in-out;
}

.task-item.completed .title,
.task-item.completed .description {
  opacity: 0.3;
}

.task-item.completed .title {
  text-decoration: line-through;
  
}

.task-item .info {
  text-align: right;
  font-weight: 200;
  font-size: 10px;
  margin-top: 20px;
}

.task-item .date {
  font-weight: 400;
}

.input-check {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.delete {
  cursor: pointer;
  transition: all 0.5s;
}

.delete:hover {
  color: red;
}

.overlay_bg {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.overlay_bg.show {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .form-btn {
  width: 100px;
  margin-top: 30px;
}

#add_task_description {
  resize: none;
}